/*-- HTML--*/
html {
    font-size: 62.5%;
}

/*-- Body--*/
body {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1.6rem;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #7cc0ff, #77c4fe, #72c7fc, #6fcafa, #6ecdf8, #6fd2f7, #71d7f6, #75dcf5, #7de4f5, #86ecf6, #92f4f5, #9efbf5);
}

/*--Containers--*/
.container-heading-main {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.container-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container-button-group {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/*--Headings--*/
.heading-main {
    font-size: 5rem;
    color: #A2529A;
}

/*--Text boxes--*/
.text-box {
    padding: 0.8rem 1.0rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    background-color: #908CD9;
    border-color: #17a2b8;

}

/*--Buttons--*/
.btn-label {
    padding: 0.8rem 1.0rem;
    display: inline-block;
    font-size: 1.8rem;
    color: #A2529A;
    text-align: right;
    white-space: nowrap;
    border-style: 1px solid;
}

.btn-text {
    color:#FCFCD4;
}

.btn-text-score {
    color:#A23373;
    text-align: center;
}

.btn-xl {
    padding: 0.8rem 1.0rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    background-color: #908CD9;
    border-color: #17a2b8;
}

.btn-xl-nofill {
    padding: 0.8rem 1.0rem;
    font-size: 1.8rem;
    border: 2px solid #908CD9;
    border-radius: 0.5rem;
}

.btn-xxl {
    padding: 3.8rem 5rem;
    font-size: 5rem;
    border-radius: 0.5rem;
    background-color: #908CD9;
    border-color: #7CC0FF;
}

/*--Bootstrap Button Class Overrides--*/

.btn-info:active {
    background-color: #A23373;
}

.btn-info:focus,
.btn-info:hover
 {
    background-color: #908CD9;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active {
    background-color: #A23373;
}
