/*-- Custom Fonts--*/
@font-face {
    font-family: 'Whale I Tried';
    src: url('../fonts/whale-i-tried.eot');
    src: url('../fonts/whale-i-tried.eot?#iefix') format('embedded-opentype'),
         url('../fonts/whale-i-tried.woff2') format('woff2'),
         url('../fonts/whale-i-tried.woff') format('woff'),
         url('../fonts/whale-i-tried.ttf')  format('truetype'),
         url('../fonts/whale-i-tried.svg#Whale I Tried') format('svg');
}

/*-- HTML--*/
html {
    font-size: 62.5%;
}

/*-- Body--*/
body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #7cc0ff, #77c4fe, #72c7fc, #6fcafa, #6ecdf8, #6fd2f7, #71d7f6, #75dcf5, #7de4f5, #86ecf6, #92f4f5, #9efbf5);
}

/*--Containers--*/
.container-heading-main {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
}

.container-button {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.container-button-group {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.container-button-game {
    padding-left: 1.5rem;
    padding-bottom: 1.0rem;
}

/*--Headings--*/
.heading-main {
    font-family: "Whale I Tried", sans-serif;
    font-size: 6rem;
    text-align: center;
    color: #EEFBFF;
}

/*--Buttons--*/
.btn-text {
    color:#EEFBFF;
}

.btn-text-score {
    color:#A2529A;
    text-align: center;
}

.btn-xl {
    padding: 0.7rem 0.7rem;
    font-size: 1.7rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background-color: #908CD9;
    border-color: #3E8BC6;
}

.btn-xl-nofill {
    padding: 0.7rem 0.7rem;
    font-size: 1.7rem;
    font-weight: 600;
    border: 2px solid #908CD9;
    border-radius: 0.5rem;
}

.btn-xxl {
    padding: 3.35rem 5rem;
    font-size: 5rem;
    font-weight: 700;
    border-radius: 1.0rem;
    background-color: #908CD9;
    border-color: #3E8BC6;
}

/*--Balloon Image Sprites--*/
.balloon img {
    position: absolute;
    clip-path: inset(0px 3072px 512px 2560px);
}

/*--Footer--*/
.container-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.container-footer a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    color: #9C70BD;
}

.container-footer i {
    color: #9C70BD;
}

.container-footer a:link,
.container-footer i:link {
    color: #9C70BD;
    text-decoration: none;
}

.container-footer a:visited,
.container-footer i:visited {
    color: #9C70BD;
    text-decoration: none;
}

.container-footer a:hover,
.container-footer i:hover {
    color: #A2529A;
    text-decoration: none;
}

.container-footer a:active,
.container-footer i:active {
    color: #A2529A;
    text-decoration: none;
}

/*--Bootstrap Button Pseudo Class Overrides--*/
.btn-info:active {
    background-color: #A2529A;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active {
    background-color: #A2529A;
}

.btn-info:focus {
    background-color: #9C70BD;
}

.btn-info:hover {
    background-color: #9C70BD; 
}

/*-- Button Pseudo Class Overrides --*/
.btn-xl-focus-none:focus,
.btn-xl-focus-none:visited {
    background-color: #908CD9;
    box-shadow: none;
    border-color: #3E8BC6;
}

/*-- Set minimum row height for balloon canvas elements --*/
.canvas-balloon {
    min-height: 110px;
}

/*-- Game Canvas Styling --*/
.canvas-balloon canvas {
    width: 110px;
    height: 110px;
}

/*-- Game Answer Balloon Text --*/
.balloon-answer-text {
    position: absolute;
    color:#EEFBFF;
    text-align: center;
    display: inline-block;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 100px;
    width: 110px;
    height: 110px;
    z-index: 1;
    text-shadow: 1px 1px 2px #a9a9a9;
}

/*-- Game Answer Balloon Text Hover Styling --*/
.balloon-answer-text:hover {
   cursor: crosshair; 
}

/*-- Game Question --*/
.game-section-controls #question {
    color:#EEFBFF;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    border-radius: 1.0rem;
    background-color: #908CD9;
    border: 1px solid #3E8BC6;
}

/*-- Audio Controls --*/
#audio-controls i {
    padding: 0.5rem 1.0rem 0.5rem 1.0rem;
    font-size: 2rem;
    text-align: center;
    color: #9C70BD;
}

#audio-controls i:hover {
    color: #A2529A;
}

/*-- Game Health --*/
.game-section-controls #health {
    color: #DC7774;
    text-align: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.game-section-controls #health i {
    font-size: 2rem;
}

/*-- Game Score --*/
.game-section-controls #score {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #9C70BD;
    text-align: center;
}

/*-- Game Feedback Modal --*/
.modal-dialog h2,
.modal-dialog span {
    font-size: 2rem;
    font-weight: 600;
    color: #A2529A;
}

.modal-dialog p,
.modal-dialog input,
.modal-dialog textarea {
    font-size: 1.6rem;
    font-weight: 400;
    color: #A2529A;
}

/*-- Bootstrap modal class overrides --*/
.modal-header {
    border-bottom: 1px solid #9C70BD;
    background-color: #EEFBFF;
}

.modal-body {
    background-color: #EEFBFF;
}

/*-- Bootstrap button class overrides --*/
.btn-lg {
    font-size: 1.6rem;
}

/*-- Media query to re-size balloon canvas and text elements for devices over 400px wide --*/
 @media (min-width: 400px) {
    .canvas-balloon {
        min-height: 150px;
    }
    .canvas-balloon canvas {
        width: 150px;
        height: 150px;
    }
    .balloon-answer-text {
        line-height: 140px;
        width: 150px;
        height: 150px;
    }
}

/*-- Media query to re-size balloon canvas and text elements for medium and large devices over 768px wide --*/
 @media (min-width: 768px) {
    .canvas-balloon {
        min-height: 200px;
    }
    .canvas-balloon canvas {
        width: 200px;
        height: 200px;
    }
    .balloon-answer-text {
        line-height: 180px;
        width: 200px;
        height: 200px;
    }
}
